In [289]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [290]:
df=pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [291]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [292]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [293]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [294]:
df=df[df.Species != "Iris-setosa"]
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [295]:
X=df.drop(columns=["Species","Id"])
Y=df["Species"]

Y.replace({'Iris-versicolor':0, 'Iris-virginica':1}, inplace=True)
print(Y)

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: Species, Length: 100, dtype: int64

C:\Users\easys\AppData\Local\Temp\ipykernel_18788\434712367.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y.replace({'Iris-versicolor':0, 'Iris-virginica':1}, inplace=True)

In [296]:
X,X_test,Y,Y_test=train_test_split(X,Y,test_size=0.2)
X,Y

(     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
 134            6.1           2.6            5.6           1.4
 145            6.7           3.0            5.2           2.3
 83             6.0           2.7            5.1           1.6
 115            6.4           3.2            5.3           2.3
 70             5.9           3.2            4.8           1.8
 ..             ...           ...            ...           ...
 109            7.2           3.6            6.1           2.5
 81             5.5           2.4            3.7           1.0
 52             6.9           3.1            4.9           1.5
 116            6.5           3.0            5.5           1.8
 112            6.8           3.0            5.5           2.1

 [80 rows x 4 columns],
 134    1
 145    1
 83     0
 115    1
 70     0
       ..
 109    1
 81     0
 52     0
 116    1
 112    1
 Name: Species, Length: 80, dtype: int64)

In [297]:
w=np.zeros((4,1))
b=0
X=X.T

In [298]:
Y=Y.values.reshape(1,len(Y))
print(X.shape)
print(Y.shape)
print(w.shape)

(4, 80)
(1, 80)
(4, 1)

In [299]:
iterations = 10000
lr = 0.5
m=80
#dont use math function, use np.exp
def sigmoid(x):
    return 1/(1+np.exp(-x))
for i in range(iterations):
    Z=np.dot(w.T,X)+b
    A=sigmoid(Z)
    A
    dZ=A-Y
    dw=(1/m)*np.matmul(X,dZ.T)
    db=(1/m)*np.sum(dZ)
    w=w-lr*dw
    b=b-lr*db
   
w,b

(                       0
 SepalLengthCm  -3.386022
 SepalWidthCm   -5.727662
 PetalLengthCm   6.072073
 PetalWidthCm   11.402098,
 -11.45486788598669)

In [300]:
X_test=X_test.T
Y_test=Y_test.values.reshape(1,len(Y_test))
X_test,Y_test

(               95   63   84   107  133  131  130  72   110  146  132  76   \
 SepalLengthCm  5.7  6.1  5.4  7.3  6.3  7.9  7.4  6.3  6.5  6.3  6.4  6.8
 SepalWidthCm   3.0  2.9  3.0  2.9  2.8  3.8  2.8  2.5  3.2  2.5  2.8  2.8
 PetalLengthCm  4.2  4.7  4.5  6.3  5.1  6.4  6.1  4.9  5.1  5.0  5.6  4.8
 PetalWidthCm   1.2  1.4  1.5  1.8  1.5  2.0  1.9  1.5  2.0  1.9  2.2  1.4

                67   96   77   108  78   61   90   143
 SepalLengthCm  5.8  5.7  6.7  6.7  6.0  5.9  5.5  6.8
 SepalWidthCm   2.7  2.9  3.0  2.5  2.9  3.0  2.6  3.2
 PetalLengthCm  4.1  4.2  5.0  5.8  4.5  4.2  4.4  5.9
 PetalWidthCm   1.0  1.3  1.7  1.8  1.5  1.5  1.2  2.3  ,
 array([[0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1]],
       dtype=int64))

In [301]:
print(X_test.shape, Y_test.shape)

(4, 20) (1, 20)

In [302]:
Z_test=np.dot(w.T,X_test)+b
A_test=sigmoid(Z_test)
np.round(A_test)
fin=A_test-Y_test
sum=np.absolute(fin)
inacc=np.sum(sum)
accuracy=((20-inacc)/20)*100
print(accuracy)

91.47256203373351